﻿@{
    ViewBag.Title = "Sent";
}

<h3>Email sent!</h3>
<p>Please wait for up to two buisness days for a response.</p>
<a href="/Home/Index" type="button" class="btn btn-danger">
    Back to main page
</a>