﻿@model StorageEnterprises.Models.ApplicationUser
@{
    ViewData["Title"] = "Users";
}
@if (User.IsInRole("Admin"))
{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h1>Delete user</h1>
        <a asp-action="Index" class="btn btn-dark">Back</a>
        <p>Are you sure you want to delete @Model.UserName?</p>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    }
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}
