﻿@model IEnumerable<StorageEnterprises.Models.ApplicationUser>
@{
    ViewData["Title"] = "Users";
}
@if (User.IsInRole("Admin"))
{
    <h1>All Users</h1>
    <!--<a asp-action="Create" class="btn btn-dark">Create a Role</a>-->
    <!--<hr />-->
    <table class="table table-sm table-bordered table-bordered">
        <tr><th>ID</th><th>Name</th><th>Manage</th></tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td><a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@user.Id">Delete</a></td>
            </tr>
        }
    </table>
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}