﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Create user";
}

@if (User.IsInRole("Admin")) //If admin
{
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger">Create</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Only system manager can create new accounts.</h4>
            <hr />
            Proceed with caution, created accounts will be able to access our system.
        </section>
    </div>
</div>
}
else
{
<div class="text-center">
    <h1 class="display-4">No access</h1>
</div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
