﻿@model StorageEnterprises.Models.Order

@{
    ViewData["Title"] = "Cancel";
}

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{

    <h1>Cancel</h1>

    <h3>Are you sure you want to cancel this?</h3>
    <div>
        <h4>Order</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Count)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Count)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CompleteDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CompleteDate)
            </dd>
        </dl>

        <form asp-action="Cancel">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Cancel" class="btn btn-danger" />
            <a style="color: #dc3545" asp-action="Index">Back to List</a>
        </form>
    </div>
}
else if (User.IsInRole("Third-Party"))
{
    if (User.Identity.Name == Model.Client)
    {
        <h1>Cancel</h1>

        <h3>Are you sure you want to cancel this?</h3>
        <div>
            <h4>Order</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Client)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Client)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Count)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Count)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreationDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreationDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CompleteDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CompleteDate)
                </dd>
            </dl>

            <form asp-action="Cancel">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Cancel" class="btn btn-danger" />
                <a style="color: #dc3545" asp-action="Index">Back to List</a>
            </form>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">No access</h1>
        </div>
    }
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}
