﻿@model StorageEnterprises.Models.Order

@{
    ViewData["Title"] = "Complete";
}

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{

    <h1>Complete</h1>

    <h3>Are you sure you want to complete this?</h3>
    <div>
        <h4>Order</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Count)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Count)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CompleteDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CompleteDate)
            </dd>
        </dl>

        <form asp-action="Complete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Complete" class="btn btn-danger" /> 
            <a style="color: #dc3545" asp-action="Index">Back to List</a>
        </form>
    </div>
}
