﻿@model StorageEnterprises.Models.Order

@{
    ViewData["Title"] = "Details";
}

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{

    <h1>Details</h1>

    <div>
        <h4>Order</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Count)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Count)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CompleteDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CompleteDate)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
        <a style="color: #dc3545" asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}
