﻿@model IEnumerable<StorageEnterprises.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<style>
    tr:nth-child(odd) {
        background-color: #eeeeee;
        color: black;
    }

    tr:nth-child(even) {
        background-color: #f6f6f6;
        color: black;
    }

    th, td {
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    table {
        border-collapse: collapse;
        border: 1px solid #ddd;
        width: 100%;
    }

    tr {
        color: white;
        border: 1px solid #ddd;
    }

    a {
        color: #dc3545;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{

    <h1>Orders</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr style="background-color: #dc3545; color: white;">
                <th>
                    @Html.DisplayNameFor(model => model.Client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompleteDate)
                </th>
                <th>
                    @Html.Display("Settings")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompleteDate)
                    </td>
                    <td>
                        @if (item.Status == "Pending")
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Cancel" asp-route-id="@item.Id">Cancel</a>
                            <a asp-action="Approve" asp-route-id="@item.Id">Approve</a>
                            <a asp-action="Complete" asp-route-id="@item.Id">Complete</a>
                        }
                        else if (item.Status == "Approved")
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Cancel" asp-route-id="@item.Id">Cancel</a>
                            <a asp-action="Complete" asp-route-id="@item.Id">Complete</a>
                        }
                        else if (item.Status == "Completed" || item.Status == "Canceled")
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (User.IsInRole("Third-Party"))
{
    <h1>Orders</h1>

    <table class="table" id="orderTable" onload="filterFunction()">
        <thead>
            <tr style="background-color: #dc3545; color: white;">
                <th>
                    @Html.DisplayNameFor(model => model.Client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompleteDate)
                </th>
                <th>
                    @Html.Display("Settings")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Client == User.Identity.Name)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Client)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompleteDate)
                        </td>
                        <td>
                            @if (item.Status == "Pending")
                            {
                                <a asp-action="Cancel" asp-route-id="@item.Id">Cancel</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <p>After ordering, you will need to send money to our bank to get the order accepted.</p>
    <p>Your order will be managed within 1-3 working days.</p>
    <p>Send the sum to LT1165148181 with message being your order ID.</p>
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}