﻿@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

@if (false)
{
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
}
else
{
    <div class="text-left">
        <h1 class="display-4">No access</h1>
    </div>
}
