﻿@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

@if (false)
{
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                <input asp-for="RememberMe" type="hidden" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.TwoFactorCode"></label>
                    <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMachine">
                            <input asp-for="Input.RememberMachine" />
                            @Html.DisplayNameFor(m => m.Input.RememberMachine)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </div>
    </div>
    <p>
        Don't have access to your authenticator device? You can
        <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
    </p>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
}
else
{
    <div class="text-left">
        <h1 class="display-4">No access</h1>
    </div>
}

