﻿@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@if (false)
{
    <partial name="_StatusMessage" for="StatusMessage" />
    <h4>@ViewData["Title"]</h4>
    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
        </p>
        <p>
            This process disables 2FA until you verify your authenticator app.
            If you do not complete your authenticator app configuration you may lose access to your account.
        </p>
    </div>
    <div>
        <form id="reset-authenticator-form" method="post" class="form-group">
            <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator key</button>
        </form>
    </div>
}
else
{
    <div class="text-left">
        <h1 class="display-4">No access</h1>
    </div>
}
