﻿@{
    ViewData["Title"] = "StorageEnterprises";
}

<div class="text-center">
    <h1 class="display-4">Welcome to StorageEnterprises</h1>
</div>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-right: -1px; margin-bottom: 70px;">
                                <p class="lead" style="text-align: center;">
                                    This is your home for anything storage. Want to manage your inventory? Store it, ship it? Then this is the place for you!
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="col-md-12">
                                    <dl>
                                        <dd>

                                            @if (User.IsInRole("Admin"))
                                            {
                                                <dt style="font-size: 15px">
                                                    Welcome back admin!
                                                </dt>

                                                <a href="/MainPage/Admin" style="margin-top: 10px;" type="button" class="btn btn-block btn-danger">
                                                    Manage users
                                                </a>

                                                <a href="/MainPage/Employee" style="margin-top: 10px;" type="button" class="btn btn-block btn-danger">
                                                    Employee page
                                                </a>

                                                <a href="/ProductPage/Index" style="margin-top: 10px;" type="button" class="btn btn-block btn-danger">
                                                    Edit items
                                                </a>
                                                <a href="/Orders/Index" style="margin-top: 10px;" type="button" class="btn btn-block btn-danger">
                                                    Orders
                                                </a>
                                            }

                                        else if (User.IsInRole("Manager"))
                                        {
                                            <dt style="font-size: 15px">
                                                Welcome back manager!
                                            </dt>

                                            <a href="/MainPage/Manager" style="margin-top: 10px;" type="button" class="btn btn-block btn-danger">
                                                Time to get to work
                                            </a>
                                        }

                                        else if (User.IsInRole("Employee"))
                                        {
                                            <dt style="font-size: 15px">
                                                Welcome back worker!
                                            </dt>

                                            <a href="/MainPage/User" style="margin-top: 10px;" type="button" class="btn btn-block btn-danger">
                                                Time to get to work
                                            </a>
                                        }

                                        else if (User.IsInRole("Third-Party"))
                                        {
                                            <dt style="font-size: 15px">
                                                This is where the fun begins!
                                            </dt>

                                            <a href="/ProductPage/Products" style="margin-top: 10px;" type="button" class="btn btn-block btn-danger">
                                                Here we go
                                            </a>
                                        }

                                            </dd>
                                        </dl>

                                </div>
                            }

                            else
                            {
                                <div class="col-md-12">
                                    <dl>
                                        <dt>
                                            You are moments away from greatness!
                                        </dt>
                                        <dd>
                                            Just log in and start doing whatever you ought to be doing...
                                            <a href="/Identity/Account/Login" style="margin-top: 10px;" type="button" class="btn btn-block btn-danger">
                                                Log in
                                            </a>
                                        </dd>
                                    </dl>

                                </div>

                                <div class="col-md-12">
                                    <p style="margin-bottom: 13px; margin-top: 50px;">
                                        Don't have an account? What a shame! Just contact one of the admins and they will get you sorted!
                                    </p>
                                    <div class="row">


                                        <div class="col-md-8" style="text-align: left; float: left; text-decoration-line: none;">
                                            <h3>
                                                Manager man
                                                <img alt="Bootstrap Image Preview" width="200" height="150" src="https://thumbs.dreamstime.com/b/happy-businessman-okay-sign-white-background-showing-31657077.jpg" style="float: left; margin-right: 13px;">
                                            </h3>
                                            <a href="/Email/Index" style="margin-top: 10px;" type="button" class="btn btn-danger">
                                                Send an email
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>