﻿@model StorageEnterprises.Models.Product

@{
    ViewData["Title"] = "Details";
}

@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
{
    <div>
        <h1>Order</h1>
        <h4>Product: @Html.DisplayFor(model => model.Name)</h4>
        <hr />
        <table>
            <tr>
                <td rowspan="6">
                    <img style="border: 2px solid black" src=@Html.DisplayFor(model => model.Picture) width="200" height="200">
                </td>
            </tr>
            <tr>
                <td>
                    <p style="margin-left: 10px">Name: @Html.DisplayFor(model => model.Name)</p>
                    <p style="margin-left: 10px">Type: @Html.DisplayFor(model => model.Type)</p>
                    <p style="margin-left: 10px">Stock: @Html.DisplayFor(model => model.Stock)</p>
                    <p style="margin-left: 10px">Price: @Html.DisplayFor(model => model.Price)€</p>
                    <p style="margin-left: 10px">Description: @Html.DisplayFor(model => model.Description)</p>
                </td>
            </tr>
        </table>
    </div>

    <div style="margin-top: 10px">
        <a class="btn btn-danger" href="../../Orders/Create/@Html.DisplayFor(model => model.Id)">Order</a> 
        <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
        <a style="color: #dc3545" asp-action="Products">Back to List</a> 
    </div>
}
else if (User.IsInRole("Third-Party"))
{
    <div>
        <h1>Order</h1>
        <h4>Product: @Html.DisplayFor(model => model.Name)</h4>
        <hr />

        <table>
            <tr>
                <td rowspan="6">
                    <img style="border: 2px solid black" src=@Html.DisplayFor(model => model.Picture) width="200" height="200">
                </td>
            </tr>
            <tr>
                <td>
                    <p style="margin-left: 10px">Name: @Html.DisplayFor(model => model.Name)</p>
                    <p style="margin-left: 10px">Type: @Html.DisplayFor(model => model.Type)</p>
                    <p style="margin-left: 10px">Stock: @Html.DisplayFor(model => model.Stock)</p>
                    <p style="margin-left: 10px">Price: @Html.DisplayFor(model => model.Price)€</p>
                    <p style="margin-left: 10px">Description: @Html.DisplayFor(model => model.Description)</p>
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 10px">
        <a class="btn btn-danger" href="../../Orders/Create/@Html.DisplayFor(model => model.Id)">Order</a> 
        <a style="color: #dc3545" asp-action="Products">Back to List</a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}
