﻿@model IEnumerable<StorageEnterprises.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<style>
    tr:nth-child(odd) {
        background-color: #eeeeee;
        color: black;
    }

    tr:nth-child(even) {
        background-color: #f6f6f6;
        color: black;
    }

    th, td {
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    table {
        border-collapse: collapse;
        border: 1px solid #ddd;
        width: 100%;
    }

    tr {
        color: white;
        border: 1px solid #ddd;
    }

    a {
        color: #dc3545;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<h1>Products</h1>
@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
{
    <p>You have eneterd the editing page for various items</p>
    <p>
        <a class="btn btn-sm btn-danger" asp-action="Create">Add new item</a>
        <a style="text-align: center" class="btn btn-sm btn-danger" href="/ProductPage/Products">Client view</a>
    </p>
    @using (Html.BeginForm("Index", "ProductPage", FormMethod.Get))
    {
        <div class="form-group">
            @Html.RadioButton("option", "Name")<text>Name</text>   @Html.RadioButton("option", "Id")<text>Id</text>
            @Html.TextBox("search")
            <input type="submit" name="submit" value="Search"/>
        </div>
    }

    <p> Type:  <input type="text" id="myInput" onkeyup="filterFunction()" title="Type in a product type" style="margin-bottom: 3px"> </p>


    <table class="table" id="productTable">
        <thead>
            <tr style="background-color: #dc3545; color: white;">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Picture)
                </th>
                <th>
                    Warnings
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)€
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <img src=@Html.DisplayFor(modelItem => item.Picture) width="100" height="100" style="border: 2px solid black;">
                    </td>
                    <td>
                        @if (item.Stock == 0)
                        {
                            <img src="/Error.png" width="50" height="50" class="center">
                        }
                        else if (item.Stock <= 5)
                        {
                            <img src="/Warning.png" width="50" height="50" class="center">
                        }
                    </td>
                    <td>
                        <a style="color: #dc3545" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a style="color: #dc3545" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a style="color: #dc3545" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        function filterFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("productTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}
else if (User.IsInRole("Third-Party"))
{
    Context.Response.Redirect("Products");
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}
