﻿@{
    ViewData["Title"] = "Product page";

}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<StorageEnterprises.Models.Product>

@if (User.IsInRole("Third-Party"))
{
    <h2>Product page</h2>
    <p>Here you can see our wonderful items that you can order</p>
    @if (User.IsInRole("Admin"))
    {
        <a href="/ProductPage/Index" type="button" class="btn btn-danger">
            Edit view
        </a>
    }
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12" style="background-color: #dc3545; color: white; padding-top: 13px; text-align: center; font-size: 20px">
                <p>Name / Price / Amount</p>
            </div>
            @foreach (var item in Model)
            {

        <div class="col-md-3 col-sm-6" style="border: 1px solid #b4b4b4; padding: 35px; background-color: #e8e8e8;">
            <img style="border: 2px solid black" src=@item.Picture width="200" height="200">
                <a style="color: #dc3545" asp-action="Details" asp-route-id="@item.Id">@item.Name</a> |
            PRICE: <ins>@item.Price€</ins><br />QUANTITY: <ins>@item.Stock</ins>
            <br /><a class="btn btn-sm btn-danger" href="../Orders/Create/@item.Id">Order</a>
        </div>
            }
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}
