﻿@model string
@{
    ViewData["Title"] = "Create";
}
@if (User.IsInRole("Admin"))
{
    <h1>Create a Role</h1>
    <a asp-action="Index" class="btn btn-dark">Back</a>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input name="name" class="form-control" style="width: 25%" />
        </div>
        <button type="submit" class="btn btn-danger">Create</button>
    </form>
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}
