﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Roles";
}
@if (User.IsInRole("Admin"))
{
    <h1>All Roles</h1>
    <!--<a asp-action="Create" class="btn btn-dark">Create a Role</a>-->
    <!--<hr />-->
    <table class="table table-sm table-bordered table-bordered">
        <tr class="btn-danger"><th>ID</th><th>Name</th><th>Manage</th></tr>

        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td><a class="btn btn-sm btn-danger" asp-action="Update" asp-route-id="@role.Id">Manage</a></td>
            </tr>
        }
    </table>
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}

