﻿@model RoleEdit
@{
    ViewData["Title"] = "Update";
}
@if (User.IsInRole("Admin"))
{
    <h1>Update Role</h1>
    <a asp-action="Index" class="btn btn-dark">Back</a>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post">
        <input type="hidden" name="roleName" value="@Model.Role.Name" />
        <input type="hidden" name="roleId" value="@Model.Role.Id" />

        <h2>Add To @Model.Role.Name</h2>
        <table class="table table-bordered table-sm">
            @if (Model.NonMembers.Count() == 0)
            {
                <tr><td colspan="2">All Users Are Members</td></tr>
            }
            else
            {
                <tr class="btn-danger">
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th> </th>
                </tr>

                @foreach (ApplicationUser user in Model.NonMembers)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.PhoneNumber</td>
                        <td>
                            <input type="checkbox" name="AddIds" value="@user.Id">
                        </td>
                    </tr>
                }
            }
        </table>

        <h2>Remove From @Model.Role.Name</h2>
        <table class="table table-bordered table-sm">
            @if (Model.Members.Count() == 0)
            {
                <tr><td colspan="2">No Users Are Members</td></tr>
            }
            else
            {
                <tr class="btn-danger">
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th> </th>
                </tr>
                @foreach (ApplicationUser user in Model.Members)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>a
                        <td>@user.PhoneNumber</td>
                        <td>
                            <input type="checkbox" name="DeleteIds" value="@user.Id">
                        </td>
                    </tr>
                }
            }
        </table>
        <button type="submit" class="btn btn-danger">Save</button>
    </form>
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}