﻿@{
    ViewData["Title"] = "Admin";

}
@if (User.IsInRole("Admin"))
{
    <h2>Admin page</h2>
    <p>Here admins will be able to create new accounts and control the system</p>
    <hr />
    <a class="btn btn-sm btn-danger" href="/Role/">Manage roles</a>
    <a class="btn btn-sm btn-danger" href="/Identity/Account/Register">Create user</a>
    <a class="btn btn-sm btn-danger" href="/Users">Delete user</a>
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}