﻿@{
    ViewData["Title"] = "Employee";

}
@if (User.IsInRole("Employee"))
{
    <h2>Employee page</h2>
    <p>Here Employee will be able to manage product stock</p>
    <hr />
    <p> Employee menu, work in progress </p>
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}