﻿@{
    ViewData["Title"] = "Manager";

}
@if (User.IsInRole("Manager"))
{
    <h2>Manager page</h2>
    <p>Manager will be able to configure products in here</p>
    <hr />
    <p>Manager menu, work in progress</p>
}
else
{
    <div class="text-center">
        <h1 class="display-4">No access</h1>
    </div>
}